.ul {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 10px;
}
.li {
  display: inline;
}

.pagination {
  display: inline-block;
  list-style: none;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}