.card {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: #ffffff 0% 0% no-repeat padding-box;
    justify-content: left;
    flex-direction: row;
  
    height: 100px;
  }
  
  .box {
    /* UI Properties */
    background: #f2f2f2 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 70px;
    width: 70px;
  }
  
  .coursename {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .coursetitle {
    height: 44px;
    text-align: left;
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
    line-height: 1.5em;
    overflow: visible;
    width: 335px;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  
  .btn {
    width: 145px;
    height: 40px;
    /* UI Properties */
    background: #ff6738 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
  }
  
  .arrow {
    width: 6px;
    height: 12px;
  }
  
  .headerimg {
    width: 26px;
    height: 25px;
    cursor: pointer;
  }
  
  .react {
    width: 78px;
    height: 21px;
    /* UI Properties */
    background: #ff6738 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
  }

  .home {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .tab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
    align-items: center;
  }
  
  .sort {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
  }
  
  .search {
    justify-content: flex-end;
    width: 30%;
    text-align: right;
  }
  
  .course {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .courselist {
    width: 70%;
    height: 640px;
    padding: 10px;
  }
  
  .allcourse {
    /* Layout Properties */
  
    /* UI Properties */
    text-align: left;
    font: normal normal 600 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #0f1317;
    opacity: 1;
  }
  
  .filter {
    color: white;
    padding: 0 1rem;
  }
  
  .filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .filterimg {
    /* UI Properties */
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .searchbtn {
    background: #ff6738 0% 0% no-repeat padding-box;
  }
  
  .searchimg {
    width: 16px;
    height: 16px;
  }
  
  .cartitems {
    width: 30%;
    padding: 10px;
  }
  
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 .class{
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 30px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.btn{
  background: #FF6738 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}